.footer {
  margin-top: 5rem;
  background-color: var(--background);
  color: var(--accent);
}

.snWrapper {
  max-width: 1400px;
  padding: 0 5rem;
  margin: 0 auto;
  height: 100%;
}

.footer p {
  display: inline-block;
}
.footer .snWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
}

.socials {
  display: inline-block;
}

.icon {
  display: inline-block;
  font-size: 2em;
  color: var(--accent);
  transition: 0.3s;
}

.icon:hover {
  color: var(--emphasis-secondary);
}

.socials a:first-child {
  margin-right: 1rem;
}

.devLink {
  color: var(--emphasis);
  transition: 0.3s;
}

.devLink:hover {
  color: var(--emphasis-secondary);
}

@media only screen and (max-width: 768px) {
  .footer .snWrapper {
    flex-direction: column;
    text-align: center;
    padding: 5 2rem;
  }

  .socials {
    margin-top: 2rem;
  }
}
