@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #d9d9d9;
  --background: #18264a;
  --primary: #18264a;
  --secondary: #101a34;
  --accent: #fff;
  --emphasis: #fbff33;
  --emphasis-secondary: #e7eb17;
}

.wrapper {
  max-width: 1400px;
  padding: 0 5rem;
  height: 100%;
  margin: 0 auto;
}

.snWrapper {
  max-width: 1400px;
  padding: 0 5rem;
  margin: 0 auto;
  height: 100%;
}

.sn .snWrapper {
  padding: 5rem 5rem 0rem 5rem;
}

.head {
  background-color: var(--background);
  padding: clamp(8rem, 15%, 15rem) 0;
}

.head .snWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight {
  color: var(--emphasis);
}

.title {
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  line-height: 5rem;
  color: var(--primary);
}

.navTitle {
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  line-height: 5rem;
  color: var(--accent);
}

.underline {
  border: 0.4rem solid var(--emphasis-secondary);
  max-width: 30rem;
  margin: auto;
  margin-bottom: 5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-size: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 2em;
  }
  .sn .snWrapper {
    padding: 2rem;
  }
}
